<h2>New User</h2>
<% form_for @user do |f| %>
  <%= f.label :name, "Name: " %><br>
  <%= f.text_field :name %><br>

  <%= f.label :age, "Age: " %><br>
  <%= f.number_field :age %><br>

  <%= f.label :type_of_car, "Type of Car: "%>
  <%= f.select :type_of_car, ["Exotic", "SUV", "Sports", "Family", "Sedan", "Luxury", "Economical"] %>

  <%= f.submit %>
<% end %>
