<h2>New User</h2>

<%= form_for @user do |f| %>
  <div class="label"><%= f.label "Name: " %></div><br>
  <div class="field"><%= f.text_field :name %></div><br>

  <div class="label"><%= f.label "Age: " %></div><br>
  <div class="field"><%= f.number_field :age %></div><br>

  <%= render 'form' %>
<% end %>