<h2>New User</h2>

<%= form_for @user do |f| %>
  <%= f.label "Name: " %><br>
  <%= f.text_field :name %><br>

  <%= f.label "Age: " %><br>
  <%= f.number_field :age %><br>

  <%= f.label "Type of Car: " %><br>
  <%= f.select :type_of_car, ["Exotic", "SUV", "Sports", "Family", "Sedan", "Luxury", "Economical"] %><br>

  <%= f.submit %>
<% end %>